
html, body{  
  height: 100%;  
}

body {
  background: url(../image/index_back.jpg);
  background-repeat: no-repeat; 
  background-size:100% 100%;
}

h1 {
  text-align: center;
}

div#regist {
  background-color: 	green; 
  border-radius: 10%;
  width: 30%;
  height: 55%;
  margin: auto;
  padding: 2%;
  opacity: 0.5;
}

div#tip {
  background-color: none;
  height: 10%;
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
  color: red;
  transition: 0.4s;
}

.clear {
  opacity: 0;
}

h2 {
  text-align: center;
  color: white;
}

span {
  margin-top: 4%;
  width: 30%;
  font-size: 15pt;
  display: inline-block;
  color: white;
  text-align: center;
}

input {
  width: 63%;
  font-size: 12pt;
  margin-left: 2%;
  text-align: center;
}

button {
  background-color: blue;
  color: white;
  margin-top: 8%;
  margin-left: 16%;
  margin-right: 10%;
  width: 20%;
  font-size: 13pt;
}
