
html, body{  
  height: 100%;  
}

body {
  background: url(../image/index_back.jpg);
  background-repeat: no-repeat; 
  background-size:100% 100%;
}

h1 {
  text-align: center;
}

div#regist {
  position: absolute;
  background-color: 	green; 
  width: 30%;
  height: 50%;
  margin-left: 35%;
  opacity: 0.5;
}

h2 {
  text-align: center;
  color: white;
}

span {
  margin-top: 4%;
  width: 30%;
  font-size: 15pt;
  display: inline-block;
  color: white;
  text-align: center;
}

input {
  width: 65%;
  font-size: 12pt;
  text-align: center;
}

button {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 10%;
  width: 20%;
  font-size: 12pt;
}
